<footer class="footer bg-light text-dark ">
    <div class="container">
        <div class="social-icons ">
            <a href="#" target="_blank"><i class="fab fa-facebook text-dark"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter text-dark"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram text-dark"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin text-dark"></i></a>
        </div>
        <p>&copy; 2024 Your Website. All rights reserved.</p>
    </div>
</footer>