<div class="jumbotron container text-center mt-4 text-danger">
    <h1 class="display-4 ">Delicious Food Delivered to Your Doorstep</h1>
    <p class="lead">Order from a variety of cuisines and enjoy special offers!</p>
    <hr class="my-4">
</div>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh;" *ngIf="loader">
    <div class="spinner-grow text-danger" role="status"></div>
</div>

<div *ngIf="!loader">
    <div class="container mt-5">
        <h1 class=" text-center fancy mb-4">Combo Pack Offers </h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3 ">
                    <div class="card bg-light">
                        <img src="assets/images/combo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">Food Item</h5>
                            <p class="card-text">Description and price</p>
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                                    View Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card bg-light">
                        <img src="assets/images/combo2-e.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title ">Food Item</h5>
                            <p class="card-text">Description and price</p>
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                                    View Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">

                    <div class="card bg-light">
                        <img src="assets/images/combo4.jpg" class="card-img-top" alt="..." style="height: 600px;">
                        <div class="card-body">
                            <h5 class="card-title">Food Item</h5>
                            <p class="card-text">Description and price</p>
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                                    View Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container mb-4 mt-4">
        <h1 class=" text-center fancy mb-4">Special Offers</h1>

        <div class="card bg-light">
            <img src="assets/images/offer.jpg" style="width: 100%;" />
            <div class="card-body">
                <p class="card-text">Combo details and price</p>
                <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                        View Details</a></div>
            </div>
        </div>

    </div>

    <div class="container mb-4 mt-4">

        <div class="card bg-light">
            <img src="assets/images/offer4-transformed.jpeg" style="width: 100%;" />
            <div class="card-body">
                <p class="card-text">Combo details and price</p>
                <div class="text-center"><a class="btn btn-outline-dark mt-auto">
                        View Details</a></div>
            </div>
        </div>

    </div>
</div>